annotated-types==0.7.0
attrs==24.2.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cirq==1.4.1
cirq-aqt==1.4.1
cirq-core==1.4.1
cirq-google==1.4.1
cirq-ionq==1.4.1
cirq-pasqal==1.4.1
cirq-rigetti==1.4.1
cirq-web==1.4.1
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.8
duet==0.2.9
fonttools==4.53.1
google-api-core==2.19.1
google-auth==2.33.0
googleapis-common-protos==1.63.2
grpcio==1.65.4
grpcio-status==1.62.3
ibm-cloud-sdk-core==3.20.6
ibm-platform-services==0.56.0
idna==3.7
kiwisolver==1.4.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath==1.3.0
msgpack==1.0.8
networkx==3.3
numpy==1.26.4
packaging==23.2
pandas==2.2.2
pbr==6.0.0
pillow==10.4.0
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.9.0
pylatexenc==2.10
pyparsing==3.1.2
pyquil==4.14.1
pyspnego==0.11.1
python-dateutil==2.9.0.post0
python-rapidjson==1.20
pytz==2024.1
pyzmq==26.1.0
qcs-sdk-python==0.19.2
qiskit==1.2.0
qiskit-aer==0.14.2
qiskit-ibm-runtime==0.28.0
quil==0.11.2
requests==2.32.3
requests_ntlm==1.3.0
rpcq==3.11.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
rustworkx==0.15.1
scipy==1.14.0
six==1.16.0
sortedcontainers==2.4.0
stevedore==5.2.0
symengine==0.11.0
sympy==1.13.2
tqdm==4.66.5
traitlets==5.14.3
types-Deprecated==1.2.9.20240311
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
websocket-client==1.8.0
wrapt==1.16.0
